In [37]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

import json



# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df =pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Comodoro Rivadavia,AR,2022-05-30 17:29:24,-45.8667,-67.5000,48.06,46,40,12.66
1,1,Busselton,AU,2022-05-30 17:29:24,-33.6500,115.3333,55.09,81,14,6.76
2,2,Punta Arenas,CL,2022-05-30 17:29:24,-53.1500,-70.9167,50.11,62,0,19.57
3,3,Kapaa,US,2022-05-30 17:29:25,22.0752,-159.3190,73.47,96,40,5.75
4,4,New Norfolk,AU,2022-05-30 17:29:25,-42.7826,147.0587,40.71,87,94,2.01

In [3]:
#gmaps: data we use for any mapping must be either an integer or a floating-point decimal number. 
#Let's check the data types for the columns of our DataFrame.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

# How we will create a heatmap

## 1. Assign the locations to an array of latitude and longitude pairs.

locations = [latitude, longitude]

## 2. Assign the weights variable to some values.

temperatures = # an array of length equal to the locations array length

## 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

## 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)


## 5. Add the heatmap layer.

fig.add_layer(heatmap_layer)

## 6. Call the figure to plot the data.
fig

In [5]:
# Get the maximum temperature.
#dont want a temp value below zero
max_temp =city_data_df["Max Temp"]

temps =[]

for temp in max_temp:
    
    #will take the max value between the given parameter
    
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature 
# We will Add the locations array and the values from the maximum temperature
#from our city_data_df DataFrame for Steps 1 and 2 and the rest of the code above.


# Get the latitude and longitude.
#creating a new series

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

#adding a list that contain only temps above 0(previous block)

#heat_layer = gmaps.heatmap_layer(locations, temps)

#Instead of for loop we can perform the same task using list comprehesion.

#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Adjust the heatlayer using dissipation option
# circles for the temperature are larger and the gradients show differences

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#adjust zoom and add geographic  center 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)

# Add the heatmap layer.

fig.add_layer(heat_layer)





# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations =city_data_df[["Lat","Lng"]]

humidity =city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness

locations =city_data_df[["Lat","Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness

locations =city_data_df[["Lat","Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#6.5.3: Get Vacation Criteria

# Ask the customer to add a minimum and maximum temperature value.

min_temp =float(input("What is the minimum temperature you would like for your trip? "))

max_temp =float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,La Virginia,CO,2022-05-30 17:29:25,4.8997,-75.8825,80.15,73,40,5.75
12,12,Gat,IL,2022-05-30 17:29:28,31.6100,34.7642,82.40,13,0,10.38
13,13,Jamestown,US,2022-05-30 17:29:28,42.0970,-79.2353,83.01,45,20,9.22
20,20,Padang,ID,2022-05-30 17:29:30,-0.9492,100.3543,77.05,88,77,4.36
21,21,Bubaque,GW,2022-05-30 17:29:31,11.2833,-15.8333,80.65,77,98,10.22
23,23,Merauke,ID,2022-05-30 17:25:05,-8.4667,140.3333,75.96,85,88,9.64
24,24,Tautira,PF,2022-05-30 17:29:31,-17.7333,-149.1500,78.84,71,83,7.29
27,27,Hilo,US,2022-05-30 17:29:32,19.7297,-155.0900,83.28,71,40,8.05
32,32,Butaritari,KI,2022-05-30 17:29:34,3.0707,172.7902,82.13,71,100,14.90
33,33,Victoria,HK,2022-05-30 17:25:39,22.2855,114.1577,84.33,86,100,5.01

In [19]:
#check if any null values

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [20]:
#CHeck null values

preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [21]:
#CHECK NULL VALUES

preferred_cities_df.notnull().sum()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df =preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()

#creating a new column initial value ""
hotel_df["Hotel Name"] =""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5   La Virginia      CO     80.15   4.8997  -75.8825
12          Gat      IL     82.40  31.6100   34.7642
13    Jamestown      US     83.01  42.0970  -79.2353
20       Padang      ID     77.05  -0.9492  100.3543
21      Bubaque      GW     80.65  11.2833  -15.8333
23      Merauke      ID     75.96  -8.4667  140.3333
24      Tautira      PF     78.84 -17.7333 -149.1500
27         Hilo      US     83.28  19.7297 -155.0900
32   Butaritari      KI     82.13   3.0707  172.7902
33     Victoria      HK     84.33  22.2855  114.1577

In [23]:
# Set parameters to search for a hotel.
#creating new dictionary
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
#loop through each row of data frame using iterrows()
#used two loop variable index loops through rows
#hotel_df.iterrows():  loops through each row of the dataframe
#fore each row there are two parts of info: one is the index of the row one is the data of the row

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    #use variable row to take value of lat for current index in loop
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    #create a new key value pair and add to dictionary
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    #print(json.dumps(hotels, indent=4))
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:

# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat","Lng"]]

max_temp =hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,weights=max_temp, dissipating = False, max_intensity=300,point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template ="""
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>

</dl>

"""

# Store the DataFrame Row.

hotel_info =[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
#Next, in the code we used to create the heatmap with markers,
#add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations.


# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))